@use 'colors' as *;
@use 'fonts' as *;

.header {
    background-color: $gray-light-alt;
    color: $black;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
}

:host::ng-deep .dx-button {
    background-color: $gray-light;

    &:hover {
        background-color: $gray-light-alt;
    }
}

:host::ng-deep .dx-button:has(.dx-icon-plus) {
    all: unset;
    cursor: pointer;
    
    .dx-icon-plus {
        background-color: $primary;
        color: $white;
        border-radius: 50%;
        padding: 5px;
        font-size: 16px;
        position: relative;
        bottom: 2px;
        right: 6px;
    }
}